

 #wrapper {
    overflow-x: hidden;
 }
#sidebar-wrapper {
  min-height: 88.1vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  border-color: : #398867;
  background-color: #398867;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 15px;
  color: #ffff;
}

#sidebar-wrapper .sidebar-heading {
  padding-left: 20px;
}
#sidebar-wrapper .container {
  padding-left: 20px;
  size: 100px;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}
#sidebar-wrapper .list-group .list-group-item {
color: #ffff;
background-color: #0000;
top: 20px;
}

#page-content-wrapper .navbar .border-bottom {
  background-color: #0000;
}

#page-content-wrapper {
  min-width: 100vw;
  
}
#page-content-wrapper #menu-toogle .button{
  color: blue;
}
#page-content-wrapper .navbar .navbar-expand {
  background-color: rgb(64, 170, 104);
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;

  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.table {
  padding-top: 
}
.specific {
  padding-top: 50px;
}
.specific .search {
  padding-left: 100px;
}
#libra {
  font: bold;
}
#page-content-wrapper .Assk{
  color: rgb(255, 255, 255);
}
#page-content-wrapper .navbar .navbar-expand {
  background: #398867;
}
#page-content-wrapper .navbar{
  background-color: #398867;
}
#page-content-wrapper .patronsearch {
 margin-top: 2.5rem;
 margin-right: 1.5rem;
 margin-left: 1.5rem;
}
#page-content-wrapper .container .texxt h6{
  color: rgb(0, 0, 0);
  font-family: century gothic; 
  font-weight: bold;
  padding-left: 0.5rem;
  font-size: 15px;
  white-space: 100px;
}
#page-content-wrapper h5{
  color: rgb(0,0,0);
}
#page-content-wrapper .container .form-control {
  padding-left: 5rem ;
}

#page-content-wrapper .container .modal-body{
  size: 500rem;
}

#page-content-wrapper #myChart  {
  height: 100px; 
  width: 800px; 
  padding-right: 5rem;
  padding-left: 10px;
}
#page-content-wrapper #kyChart {
  padding-left: 10rem;
  height: 100px;
  width: 800px;
}
#page-content-wrapper .butones {
  box-sizing: 100rem;
}