<template>
  <div class = "d-flex" id = "wrapper">
          <sidebar/>
      <div id = "page-content-wrapper">
          <navbar/>
          <!--FOR CONTAINER -->
          <div class = "container">
              <div class = "patronsearch">
                  <div class = "d-flex justify-content-between">
                      <a>
                          <span>
                               <div>
                                    <b-button v-b-modal.modal-1 variant = "success">Add Book</b-button>
                                </div>
                          </span>
                      </a>
                      <a>
                          <span>
                              <button class = "btn btn-success col py-2 
                              px-md-4">Search</button>
                          </span>
                      </a>
                  </div>
              </div>
          </div>
          <!--END OF CONTAINER -->
          <!--MODAL - TRIGGER BUTTON MODAL -->
           <div>
        <b-modal id="modal-1" title=" Add Book">
        <div>
            <div>
            <b-form-group 
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="4"
                label="Name"
                label-for="input-horizontal">
                <b-form-input id="input-horizontal"></b-form-input>
            </b-form-group>
            </div>
            <div>
            <b-form-group 
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="4"
                label="Author"
                label-for="input-horizontal">
                <b-form-input id="input-horizontal"></b-form-input>
            </b-form-group>
            </div>
            <div>
            <b-form-group 
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="4"
                label="Copies Available"
                label-for="input-horizontal">
                <b-form-input id="input-horizontal"></b-form-input>
            </b-form-group>
            </div>
            <div>
            <b-form-group 
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="7"
                label="Category"
                label-for="category-horizontal">
                <b-form-input id="category-horizontal"></b-form-input>
            </b-form-group>
            </div>
        </div>
        
      </b-modal>
          </div>
           <b-modal id="modal-sm" size="sm">
               <p class="my-2">Delete Information?</p>
               </b-modal>
        <!--TABLES -->
        <br><br>
        <table class = "table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Copies Available</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <b-row>
                            <b-col lg="3" class="pb-1"><b-button size = "sm" variant = "success">Edit</b-button></b-col>
                             <b-col lg="3" class="pb-2"><b-button v-b-modal.modal-sm variant="danger" class = "mr-2 btn btn-success btn-sm">Delete</b-button></b-col>
                        </b-row>
                        <b-row>
                            <b-col lg="3" class="pb-1"><b-button size = "sm" variant = "primary">Borrow</b-button></b-col>
                            <b-col lg="3" class="pb-2"><b-button size = "sm" variant = "warning">Return</b-button></b-col>
                        </b-row>
                    </td>
                    <td>Clean Architecture</td>
                    <td>Robert Martin</td>
                    <td>10</td>
                    <td>Computer Science</td>
                </tr>
                <tr>
                    <td>
                        <b-row>
                            <b-col lg="3" class="pb-1"><b-button size = "sm" variant = "success">Edit</b-button></b-col>
                             <b-col lg="3" class="pb-2"><b-button v-b-modal.modal-sm variant="danger" class = "mr-2 btn btn-success btn-sm">Delete</b-button></b-col>
                        </b-row>
                        <b-row>
                            <b-col lg="3" class="pb-1"><b-button size = "sm" variant = "primary">Borrow</b-button></b-col>
                            <b-col lg="3" class="pb-2"><b-button size = "sm" variant = "warning">Return</b-button></b-col>
                        </b-row>
                    </td>
                    <td>Jose Rizal</td>
                    <td>Gregorio Zaide</td>
                    <td>20</td>
                    <td>History</td>
                </tr>
                <tr>
                    <td>
                       <b-row>
                            <b-col lg="3" class="pb-1"><b-button size = "sm" variant = "success">Edit</b-button></b-col>
                           <b-col lg="3" class="pb-2"><b-button v-b-modal.modal-sm variant="danger" class = "mr-2 btn btn-success btn-sm">Delete</b-button></b-col>
                        </b-row>
                        <b-row>
                            <b-col lg="3" class="pb-1"><b-button size = "sm" variant = "primary">Borrow</b-button></b-col>
                            <b-col lg="3" class="pb-2"><b-button size = "sm" variant = "warning">Return</b-button></b-col>
                        </b-row>
                    </td>
                <td>Clean Code</td>
                <td>Robert Martin</td>
                <td>30</td>
                <td>Computer Science</td>
            </tr>
            </tbody>
        </table>
      </div>
  </div>
  
</template>

<script>
import sidebar from './sidebar.vue'
import navbar from './navbar.vue'
import { mapActions, mapGetters } from "vuex";
 import toastr from "toastr";
 export default {
     data(){
         return {
        index: 0,
        book: {
        name: "",
        author: "",
        copies: "",
        category: "",
         },
         books: [
              {
           name: "The Silence of the Lamb",
           author: "Thomas Harris",
           copies: "2",
           category: "Mystery",
         },
         {
           name: "A Walk in the Woods",
           author: "Bill Bryson",
           copies: "4",
           category: "Action",
         },
         {
           name: "Lord of the Flies",
           author: "William Golding",
           copies: "3",
           category: "Fiction",
         },
         {
           name: "A Town like Alice",
           author: "Nevil Shutte",
           copies: "6",
           category: "Fiction",
         },
         ],
     };
 },
 computed: {
   ...mapGetters({
     allBooks: "fetchBooks",
      add: "addBook",
      update: "updateBook",
      delete: "deleteBook",
    }),
    created(){
    this.allBooks();
     },
   methods: {
     showUpdate(index) {
       this.clearInputs();
     },
   },
 }
 }
 
 </script>