<template>
  <div class="d-flex" id="wrapper">
    <sidebar/>
      <div id = "page-content-wrapper">
        <navbar/>
        <div class = "container">
       <canvas id="myChart"></canvas>
     <canvas id="kyChart" class="chartjs-render-monitor" 
     style="display: inherit; width: 700px; height: 300px; padding-left: 2rem; position: center;"></canvas>
        </div>
      </div>
  </div>
</template>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script>
import sidebar from '../components/sidebar.vue'
import navbar from '../components/navbar.vue'
import chart from 'chart.js'
export default {
components: {
    sidebar,
    navbar,
   
},

mounted(){
  let myChart = document.getElementById('myChart').getContext('2d');
  // Global Options
    Chart.defaults.global.defaultFontFamily = 'century gothic';
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor = '#777';
     let massPopChart = new Chart(myChart, {
      type:'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data:{
        labels:['January', 'March', 'August', 'December'],
        datasets:[{
          label:'Books',
          data:[
            617,
            145,
            254,
            374
          ],
          //backgroundColor:'green',
          backgroundColor:[
            'rgb(63, 191, 127)',
            'rgba(63, 191, 127, 0.7)',
            'rgb(11, 151, 81)',
            'rgba(11, 151, 81, 0.2)',
          ],
          borderWidth:1,
          borderColor:'#777',
          hoverBorderWidth:3,
          hoverBorderColor:'#000'
        }]
      },
      options:{
        title:{
          display:true,
          text:'Books Borrowed and Returned',
          fontSize:25
        },
        layout:{
          padding:{
            left:50,
            right:0,
            bottom:0,
            top:0
          }
        },
        tooltips:{
          enabled:true
        }
      }
    });

      var ctx = document.getElementById("kyChart").getContext('2d');
    Chart.defaults.global.defaultFontFamily = 'century gothic';
    Chart.defaults.global.defaultFontSize = 10;
    Chart.defaults.global.defaultFontColor = '#777';
var kyChart = new Chart(ctx, {
  type: 'pie',
  data: {
    labels: ["January", "March", "August", "December"],
    datasets: [{
      backgroundColor: [
       'rgb(63, 191, 127)',
            'rgba(63, 191, 127, 0.7)',
            'rgb(11, 151, 81)',
            'rgba(11, 151, 81, 0.2)',
      ],
      data: [12, 19, 10, 17]
    }]
  }
});
}
}
</script>


<style>
@import '/assets/css/styles.css';

</style>