<template>
<div id="page-content-wrapper">
      <nav class="navbar navbar-expand">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <h6>Library System | Book Management</h6>
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
             <button class="btn btn-success" id="menu-toggle">Logout</button>
            </li>
          </ul>
        </div>
      </nav>
    </div> 
</template>

<script>
export default {

}
</script>

<style>
@import '../assets/css/styles.css';
</style>