<template>
  <div class = "d-flex" id = "wrapper">
    <sidebar/>
      <div id = "page-content-wrapper">
        <navbar/>
         <!--FOR CONTAINER -->
          <div class = "container">
            <div class = "patronsearch">
              <div class = "d-flex justify-content-between">
                <a>
                <span>
                  <div>
                    <b-button v-b-modal.modal-1 variant = "success">Add Patron</b-button>
                  </div>
                </span>
                </a>
                <a>
                <span>
                  <b-button class = "btn btn-success ">Search</b-button>
                </span>
                </a>
              </div>
              </div>
          </div>
          <!--END OF CONTAINER -->
          <div>
        <b-modal id="modal-1" title="Add Patron">
        <div> 
            <div>
            <b-form-group 
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="4"
                label="Name"
                label-for="input-horizontal">
                <b-form-input id="input-horizontal"></b-form-input>
            </b-form-group>
            </div>
            <div>
            <b-form-group 
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="4"
                label="Address"
                label-for="input-horizontal">
                <b-form-input id="input-horizontal"></b-form-input>
            </b-form-group>
            </div>
            <div>
            <b-form-group 
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="6"
                label="Date Registered"
                label-for="input-horizontal">
                <b-form-input id="input-horizontal"></b-form-input>
            </b-form-group>
            </div>
            
        </div>
        
      </b-modal>
          </div>
          <div>
           <b-modal id="modal-sm" size="sm">
               <p class="my-2">Delete Information?</p>
               </b-modal>
          </div>
        <!--TABLES -->
   <br><br>     
  <table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Address</th>
        <th>Date Registered</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
         <div>
           <b-button class = "mr-2 btn btn-success btn-sm"> Edit </b-button>
             <b-button v-b-modal.modal-sm variant="danger" class = "mr-2 btn btn-success btn-sm">Delete</b-button>
         </div>
        </td>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>
            <div>
           <b-button class = "mr-2 btn btn-success btn-sm"> Edit </b-button>
             <b-button v-b-modal.modal-sm variant="danger" class = "mr-2 btn btn-success btn-sm">Delete</b-button>
         </div>
        </td>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr> 
      <tr>
        <td>
            <div>
           <b-button class = "mr-2 btn btn-success btn-sm"> Edit </b-button>
            <b-button v-b-modal.modal-sm variant="danger" class = "mr-2 btn btn-success btn-sm">Delete</b-button>
         </div>
        </td>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
 </div>
  </div>
</template>

<script>
import sidebar from './sidebar.vue'
import navbar from './navbar.vue'
import toastr from "toastr";
import { mapGetters, mapActions } from 'vuex';
export default {
  data(){
    return {
   index: 0,
       patron: {
         firstname: "",
         middlename: "",
         lastname: "",
         email: "",
         registed: Date.now(),
       },
       patrons: [
         {
           email: "hatok@gmail.com",
           registered: Date.now(),
         },
         {
           firstname: "Abcdef",
           middlename: "Jwap",
           lastname: "Losta",
           email: "abcdef@gmail.com",
           registered: Date.now(),
         },
       ],
    };
  },
  created(){
  this.allPatrons();
  },
  methods: {
     ...mapActions("patrons", {
      allPatrons: "fetchPatrons",
      add: "addPatron",
      update: "updatePatron",
      delete: "deletePatron",
    }),
     showUpdate(index) {
       this.clearInputs();
       this.index = index;
       return `${month} ${day}, ${year}`;
     },
   },
    computed: {
      ...mapGetters({
        patrons:'getPatrons'
      }), 
       },
  }
  

</script>

<style>
@import '../assets/css/styles.css';
</style>