<template>
  <!--SIDEBAR -->
 <div class = "bg-success-dark" id = "sidebar-wrapper">
      <div class = "sidebar-heading">
        <div class = "container">
              <img src="@/assets/img/logo.png">
    </div>
  </div>
    <div class = "list-group list-group-flush" id = "sidebar-wrapper">
      <a href="#" class="list-group-item list-group-item-action"><img src = "@/assets/img/dashboard.png"> Dashboard</a>
      <a href="#" class="list-group-item list-group-item-action"><img src = "@/assets/img/patron.png"> Patron Management</a>
      <a href="#" class="list-group-item list-group-item-action"><img src = "@/assets/img/addbook.png"> Book Management</a>
      <a href="#" class="list-group-item list-group-item-action"><img src = "@/assets/img/set.png"> Settings</a>
    </div>
  </div>
    <!--END OF SIDEBAR-->
</template>
