<template>

  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script src = "/dist/build.js"></script>
<script>


export default {
  name: "App",
  components: {

  }
}
</script>

<style>
</style>
