

 #wrapper {
  overflow-x: visible;
}
#sidebar-wrapper .sidebar-heading {
padding: 2rem 4rem;
color: #ffff;

}
#sidebar-wrapper .container {
padding-left: 30px;
}
#sidebar-wrapper .list-group .list-group-item {
background-color:#398867;
top: 20px;
color: #ffff;
font-size: 16.5px;
text-align: start;
}
#page-content-wrapper {
min-width: 100vw;

}
#page-content-wrapper #menu-toogle .button{
color: blue;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
    min-height: 82.6vh;
    border-color:  #398867;
    background-color: #398867;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
    

  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
.specific {
padding-top: 50px;
}
.specific .search {
padding-left: 100px;
}
h6, .h6 {
  font-size: 17px;
  color: #ffff;
}
#page-content-wrapper .navbar{
background-color: #398867;
position: relative;
display: flex;
flex-wrap: wrap;
align-items: center;
padding: 1.2rem 1rem;
}
#page-content-wrapper .patronsearch {
margin-top: 2.5rem;
margin-right: 1.5rem;
margin-left: 1.5rem;
}
#page-content-wrapper .texxt .h6{
color:#0000;
font-family: century gothic; 
font-weight: bold;
padding-left: 0.5rem;
font-size: 100px;
white-space: 100px;
}
#page-content-wrapper h5{
color:#ffff;
}
#page-content-wrapper .container .form-control {
padding-left: 5rem ;
}

#page-content-wrapper .container .modal-body{
size: 500rem;
}

#page-content-wrapper #myChart  {
height: 100px; 
width: 800px; 
padding-right: 5rem;
padding-left: 10px;
}
#page-content-wrapper #kyChart {
padding-left: 10rem;
height: 100px;
width: 800px;
}
#page-content-wrapper .butones {
box-sizing: 100rem;
}
th {
  text-align: inherit;
  text-align: center;
}
#page-content-wrapper .table-bordered {
  width: 96%;
  margin-left: 20px;
  margin-right: 20px;
}
#page-content-wrapper .text-center{
  padding-top: 10px;
  justify-content: stretch;
  white-space: inherit;
  break-after: auto;
  align-content: space-around;
}
.btn-sm, .btn-group-sm > .btn {
  padding: 10px;
  font-size: 0.875rem;
  line-height: 1;
  border-radius: 0.2rem;
  justify-content: space-between;
}
.btn-warning {
  color: #ffff;
  background-color: #ffc107;
  border-color: #ffc107;
}
.table th, .table td {
  padding: 1rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
 .td .btn-danger .btn-sm {
  position: right;
}
img {
  vertical-align: middle;
  border-style: none;
  padding-right: 13px;
  
}
#page-content-wrapper .btn-success {
  size: 100rem;
}
#page-content-wrapper .text h6{
  font-variant: #000000;
}
.modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}